<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Website.Website_Backend.Mapper.MessageBoardMapper">
    <select id="getMessageBoard" resultType="com.Website.Website_Backend.Model.Data">
        select
        Message_Board.id as m_id,
        Message_Board.name as m_name,
        Message_Board.message as m_message,
        DATE_FORMAT(Message_Board.time, '%Y-%m-%d %H:%i:%s') as m_time,
        Message_Comment.id as c_id,
        Message_Comment.name as c_name,
        Message_Comment.comment as c_comment,
        DATE_FORMAT(Message_Comment.time, '%Y-%m-%d %H:%i:%s') as c_time,
        Message_Comment.parent as c_parent
        from Message_Board
        left join Message_Comment on Message_Board.id = Message_Comment.parent
        where Message_Board.id&lt;=((select max(id) from Message_Board) - ((#{page} - 1) * 10)) and Message_Board.id>=((select max(id) from Message_Board) - ((#{page} - 1) * 10 + 9))
        order by m_id desc, c_id desc
    </select>

    <insert id="setMessageBoard">
        insert into Message_Board (name, message, time) values (#{name}, #{message}, now())
    </insert>

    <select id="selectCount" resultType="int">
        select count(*) from Message_Board
    </select>
</mapper>